.social-links {
  color: rgb(0, 0, 0);
}

.link {
  color: inherit;
}

.social-links .link:hover {
  color: rgb(115, 0, 255);
}

.social-links .link:active {
  color: red;
}

.social-links .link:focus {
  color: rgb(0, 255, 4);
}

.container-nav {
  background-color: #65ae82;
}
